
{% extends 'base.html' %}

{% block title %}
   爱家-登陆
{% endblock %}

{% block css %}
   {{ super() }}
   <link href="/static/css/ihome/login.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="logo-bar"><a href="/"><img src="/static/images/logo@128x59.png"></a></div>
        <form class="form-login">
            <div class="form-group form-group-lg">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-user fa-lg fa-fw"></i></div>
                    <input type="number" class="form-control" name="mobile" id="mobile" placeholder="手机号" required>
                </div>
            </div>
            <div class="error-msg" id="mobile-err"><i class="fa fa-exclamation-circle"></i><span></span></div>
            <div class="form-group form-group-lg">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-lock fa-lg fa-fw"></i></div>
                    <input type="password" class="form-control" name="password" id="password" placeholder="密码" required>
                </div>
            </div>
            <div class="error-msg" id="password-err"><i class="fa fa-exclamation-circle"></i><span></span></div>
            <button type="submit" class="btn btn-lg btn-theme btn-block">登录</button>
            <p class="register-a">没有账号，<a href="{{ url_for('user.register') }}">立即注册</a></p>
        </form>
    </div>
{% endblock %}

{% block js %}
    {{ super() }}
    <!--<script src="/static/js/ihome/login.js"></script>-->
    <script>
    $(document).ready(function() {
        $("#mobile").focus(function(){
            $("#mobile-err").hide();
        });
        $("#password").focus(function(){
            $("#password-err").hide();
        });
        $(".form-login").submit(function(e){
            e.preventDefault();
            mobile = $("#mobile").val();
            passwd = $("#password").val();
            if (!mobile) {
                $("#mobile-err span").html("请填写正确的手机号！");
                $("#mobile-err").show();
                return;
            }
            if (!passwd) {
                $("#password-err span").html("请填写密码!");
                $("#password-err").show();
                return;
            }
            console.log(mobile)
            console.log(passwd)
            $.ajax({
                url: '/user/login/',
                data:{'phone': mobile, 'password': passwd},
                dataType: 'json',
                type: 'POST',
                success: function(data){
                    if(data.code == 10000){
                       $("#password-err span").html("用户名或密码错误!");
                       $("#password-err").show();
                    }
                    if(data.code == 200){
                       location.href = '../../house/my/';
                    }
                },
                error: function(data){
                    alert('登陆失败')
                }
            })
        });
    })
    </script>
{% endblock %}