<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
           首页_{{ admin.username }}个人博客 - 一个站在web前端设计之路的技术员个人博客网站
        {% endblock %}
    </title>
    {% block css %}
    {% endblock %}
</head>
<body>
<header class="header-navigation" id="header">
  <nav><div class="logo"><a href="/">{{ admin.username }}个人博客</a></div>
    <h2 id="mnavh"><span class="navicon"></span></h2>
    <ul id="starlist">
      <li><a href="{% url 'web:index' %}">网站首页</a></li>
      <li><a href="list.html">我的日记</a></li>
      <li><a href="about.html">关于我</a></li>
      <li><a href="gbook.html">留言</a></li>
      <li><a href="info.html">内容页</a></li>
      <li><a href="{% url 'back:index' %}">博客后台</a></li>
    </ul>
</nav>
</header>
   {% block content %}
   {% endblock %}

  {% block js %}
  {% endblock %}
</body>
</html>