
{% extends 'backweb/bases.html' %}

{% block title %}
   文章-{{ admin.username }}的博客管理系统
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/backweb/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/backweb/css/style.css">
<link rel="stylesheet" type="text/css" href="/static/backweb/css/font-awesome.min.css">
<link rel="apple-touch-icon-precomposed" href="images/icon/icon.png">
<link rel="shortcut icon" href="images/icon/favicon.ico">
{% endblock %}

{% block bottom %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
      <div class="row">
        <form action="" method="post" class="add-article-form" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="col-md-9">
            <h1 class="page-header">撰写新文章</h1>
            <div  class="add-article-box">
              <h2 class="add-article-box-title"><span>标题</span></h2>
              <div class="add-article-box-content">
                <input type="text" id="article-title" value="{{ article.title }}" name="title" class="form-control" placeholder="在此处输入标题" required autofocus autocomplete="off">
                <span class="prompt-text" style="color:red">{{ form.errors.title }}</span>
              </div>
            </div>
            <br>
            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>关键字</span></h2>
              <div class="add-article-box-content">
              	<input type="text" value="{{ article.keywords }}" class="form-control" placeholder="请输入关键字" name="keywords" autocomplete="off">
                <span class="prompt-text">多个标签请用英文逗号,隔开。</span>
              </div>
            </div>
            <br>
            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>描述</span></h2>
              <div class="add-article-box-content">
              	<textarea class="form-control" name="desc" autocomplete="off">{{ article.desc }}</textarea>
                <span class="prompt-text">描述是可选的手工创建的内容总结，并可以在网页描述中使用<span style="color:red">{{ form.errors.desc }}<span></span>
              </div>
            </div>
            <br>
            <div class="add-article-box" style="width:700px">
              <h2 class="add-article-box-title"><span>内容</span></h2>
              <div class="add-article-box-content">
              	<textarea id="editor_id" class="form-control" name="content" autocomplete="off" he>{{ article.content }}</textarea>
                <span class="prompt-text">阐述文章大致内容<span style="color:red">{{ form.errors.content }}<span></span>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <h1 class="page-header">操作</h1>
            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>作者</span></h2>
              <div class="add-article-box-content">
                <input type="text" value="{{ article.blogger }}"  class="form-control" placeholder="输入作者名字" name="blogger" autocomplete="off">
                <span class="prompt-text">多个标签请用英文逗号,隔开</span> </div>
            </div>
            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>博客图片</span></h2>
              <div class="add-article-box-content">
                <input type="file" class="form-control" placeholder="点击按钮选择图片" name="icon" autocomplete="off">
              </div>
            </div>
            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>发布</span></h2>
              <div class="add-article-box-content">
              	<p><label>状态：</label><span class="article-status-display">
                  {% if article.publish == 1 %}
                     已公开发布
                  {% elif article.publish == 0 %}
                     未公开发布
                  {% else %}
                     未发布
                  {% endif %}
                </span></p>
                <p><label>公开度：</label><input type="radio" name="publish" value="1" checked/>公开</p>
                <p><label>发布于：</label><span class="article-time-display"><div id="timer"></div></span></p>
              </div>
              <div class="add-article-box-footer">
                <button class="btn btn-primary" type="submit" name="submit">发布</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block content %}
   {{ block.super }}
{% endblock %}

{% block js %}
{% load static %}
<script src="/static/backweb/js/jquery-2.1.4.min.js"></script>
<script src="/static/backweb/js/bootstrap.min.js"></script>
<script src="/static/backweb/js/admin-scripts.js"></script>
<script type="text/javascript" src="{% static 'kindeditor/kindeditor-all-min.js' %}"></script>
<script type="text/javascript" src="{% static 'kindeditor/lang/zh-CN.js' %}"></script>
<script type="text/javascript">
KindEditor.ready(function(K) {
            window.editor = K.create('#editor_id',{
                uploadJson:'/util/upload/kindeditor'
            });
        });

function showTime() {
				var now = new Date();
				var year = now.getFullYear();
				var month = now.getMonth() + 1;
				var date1 = now.getDate();
				var hour = now.getHours();
				var minute = now.getMinutes();
				var second = now.getSeconds();
				var day = now.getDay();
				var timeStr = year + '-' +
					(month < 10 ? '0' : '') + month + '-' +
					(date1 < 10 ? '0' : '') + date1 + ' ' +
					(hour < 10 ? '0' : '') + hour + ':' +
					(minute < 10 ? '0' : '') + minute + ':' +
					(second < 10 ? '0' : '') + second;
				var div = document.getElementById('timer');
				div.innerHTML = timeStr;
			}

			showTime();
			window.setInterval(showTime, 1000);
</script>
{% endblock%}