
{% extends 'backweb/bases.html' %}

{% block title %}
   文章-{{ admin.username }}的博客管理系统
{% endblock%}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/backweb/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/backweb/css/style.css">
<link rel="stylesheet" type="text/css" href="/static/backweb/css/font-awesome.min.css">
<link rel="apple-touch-icon-precomposed" href="/static/backweb/image/icon/icon.png">
<link rel="shortcut icon" href="/static/backweb/image/icon/favicon.ico">
{% endblock %}

{% block bottom %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
      <form action="/Article/checkAll" method="post" >
        <h1 class="page-header">操作</h1>
        <ol class="breadcrumb">
          <li><a href="{% url 'back:add_article' %}">增加文章</a></li>
        </ol>
        <h1 class="page-header">管理 <span class="badge">7</span></h1>
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th><span class="glyphicon glyphicon-th-large"></span> <span class="visible-lg">选择</span></th>
                <th><span class="glyphicon glyphicon-file"></span> <span class="visible-lg">标题</span></th>
                <th><span class="glyphicon glyphicon-list"></span> <span class="visible-lg">栏目</span></th>
                <th class="hidden-sm"><span class="glyphicon glyphicon-tag"></span> <span class="visible-lg">标签</span></th>
                <th class="hidden-sm"><span class="glyphicon glyphicon-comment"></span> <span class="visible-lg">评论</span></th>
                <th><span class="glyphicon glyphicon-time"></span> <span class="visible-lg">日期</span></th>
                <th><span class="glyphicon glyphicon-pencil"></span> <span class="visible-lg">操作</span></th>
              </tr>
            </thead>
            <tbody>
              {% for art in page %}
              <tr>
                <td><input type="checkbox" class="input-control" name="checkbox[]" value="" /></td>
                <td class="article-title"><a href="{% url 'web:info' art.id %}">{{ art.title }}</a></td>
                <td>{{ art.desc }}</td>
                <td class="hidden-sm">{{ art.keywords }}</td>
                <td>{{ art.create_time.year }}-{{ art.create_time.month }}-{{ art.create_time.day }}</td>
                <td><a href="{% url 'back:update_article' art.id %}">修改</a> <a href="{% url 'back:delete_article' art.id %}" onclick="if(!confirm('此操作不可逆，是否确认？'))return false;">删除</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <footer class="message_footer">
          <nav>
            <div class="btn-toolbar operation" role="toolbar">
              <div class="btn-group" role="group"> <a class="btn btn-default" onclick="select()">全选</a> <a class="btn btn-default" onclick="reverse()">反选</a> <a class="btn btn-default" onclick="noselect()">不选</a> </div>
              <div class="btn-group" role="group">
                 <a class="btn btn-default" href="{% url 'back:article' %}" onclick="if(!confirm('你正在批量删除数据，请是否确认删除？'))return false;">删除</a>
              </div>
            </div>
            <ul class="pagination pagenav">
              <li><a aria-label="Previous" href="{% url 'back:article' %}?page={{ 1 }}"> <span aria-hidden="true">首页</span></a></li>
              {% if page.has_previous %}
                 <li><a aria-label="Previous" href="{% url 'back:article' %}?page={{ page.previous_page_number }}"> <span aria-hidden="true">&laquo;</span></a></li>
              {% else %}
                 <li><a aria-label="Previous" href=""> <span aria-hidden="true">&laquo;</span></a></li>
              {% endif%}
              {% for i in page.paginator.page_range %}
                 <li><a href="{% url 'back:article' %}?page={{ i }}">{{ i }}</a></li>
              {% endfor %}
              {% if page.has_next %}
                 <li><a aria-label="Next" href="{% url 'back:article' %}?page={{ page.next_page_number }}"> <span aria-hidden="true">&raquo;</span></a></li>
              {% else %}
                 <li><a href="" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
              {% endif%}
              <li><a aria-label="Previous" href="{% url 'back:article' %}?page={{ page.paginator.num_pages }}"> <span aria-hidden="true">末页</span></a></li>
            </ul>
          </nav>
        </footer>
      </form>
    </div>
  </div>
</section>
{% endblock %}

{% block content %}
   {{ block.super }}
{% endblock %}

{% block js %}
<script src="/static/backweb/js/jquery-2.1.4.min.js"></script>
<script src="/static/backweb/js/bootstrap.min.js"></script>
<script src="/static/backweb/js/admin-scripts.js"></script>
<script>

//是否确认删除

</script>
{% endblock %}